name: AzureDevOpsWorkItemVisualizer Blazor WebAssembly

on:
  push:
    branches:
    - main
  workflow_dispatch:
    inputs:
      deploy:
        description: Deploy
        required: false
        type: boolean
        default: false

env:
  AZURE_WEBAPP_NAME: AzureDevOpsWorkItemVisualizer
  AZURE_WEBAPP_PACKAGE_PATH: AzureDevOpsWorkItemVisualizer.BlazorWebAssembly/publish
  AZURE_WEBAPP_PUBLISH_PROFILE: ${{ secrets.AzureDevOpsWorkItemVisualizer_14d0 }}
  CONFIGURATION: Release
  DOTNET_CORE_VERSION: 10.0.x
  WORKING_DIRECTORY: AzureDevOpsWorkItemVisualizer.BlazorWebAssembly
  TESTS_WORKING_DIRECTORY: AzureDevOpsWorkItemVisualizer.Core.Tests

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_CORE_VERSION }}
    - name: Update version info
      run: '[System.IO.File]::WriteAllText("${{ env.WORKING_DIRECTORY }}/wwwroot/index.html", [System.IO.File]::ReadAllText("${{ env.WORKING_DIRECTORY }}/wwwroot/index.html").Replace("v###", [System.DateTime]::UtcNow.ToString("vyyyy.M.d.Hmm")))'
      shell: pwsh
    - name: Restore
      run: dotnet restore "${{ env.WORKING_DIRECTORY }}"
      shell: pwsh
    - name: Build
      run: dotnet build "${{ env.WORKING_DIRECTORY }}" --configuration ${{ env.CONFIGURATION }} --no-restore
      shell: pwsh
    - name: Restore tests
      run: dotnet restore "${{ env.TESTS_WORKING_DIRECTORY }}"
      shell: pwsh
    - name: Build tests
      run: dotnet build "${{ env.TESTS_WORKING_DIRECTORY }}" --configuration ${{ env.CONFIGURATION }} --no-restore
      shell: pwsh
    - name: Run tests
      run: dotnet test "${{ env.TESTS_WORKING_DIRECTORY }}" --no-build
      shell: pwsh
    - name: Publish
      run: dotnet publish "${{ env.WORKING_DIRECTORY }}" --configuration ${{ env.CONFIGURATION }} --no-build --output "${{ env.AZURE_WEBAPP_PACKAGE_PATH }}"
      shell: pwsh
    - name: Deploy
      if: ${{ github.event.inputs.deploy == 'true' }}
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
        publish-profile: ${{ env.AZURE_WEBAPP_PUBLISH_PROFILE }}
    - name: Publish artifacts
      if: ${{ github.event.inputs.deploy == 'true' }}
      uses: actions/upload-artifact@v4
      with:
        name: webapp
        path: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
